# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyo
.hypothesis/
.pytest_cache/
cover/

# Translation files
*.mo
*.pot

# Logs
*.log
logs/

# Django stuff (common patterns):
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific Directories (Data & Models)
.chromadb/
.chromadb_test/
whisper-small-hy-ct2/
data/raw/
data/processed/
models/

# Tool Caches
.ruff_cache/
.mypy_cache/

# IDEs
.vscode/
.idea/
.DS_Store
.history/

# OS-specific
Thumbs.db
Desktop.ini
